:root {
    --dark-blue: #0d0e11;
    --blue: #3459d3;
    --middle-blue: #3a5168;
    --dark-gray: #393e41;
    --middle-gray: #71827d;
    --light-gray: #cdc7be;
    --light-green: #038603;
    --white: #f0f3e0;
    --middle-green: #91C84B;
    --dark-green: #04290c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth scroll;
}

main {
    flex-grow: 1;
    margin-top: 5rem;
}

a {
    text-decoration: none;
}

/** Section Header */
#navbar,
.bg-date-card {
    background-color: var(--dark-gray) !important;
}

.navbar-toggler {
    color: #cdc7be !important;
    border: 1px solid var(--light-gray);
}

.nav-link {
    color: var(--light-gray);
}

.a-green {
    color: var(--light-green) !important;
    font-weight: 500;
    font-size: 1.05rem !important;
}

.a-green:hover {
    color: var(--dark-blue) !important;
}

/** Section Hero */
.bg-image {
    width: 100%;
    height: auto;
    background-image: linear-gradient(
            rgba(8, 18, 24, 0.507),
            rgba(8, 18, 24, 0.507)
        ),
        url("../assets/ba1.jpg");
    background-position: center;
    background-size: cover;
    filter: contrast(1.1);
}

.btn-success {
    background-color: var(--light-green) !important;
}

.btn-submit {
    background-color: var(--middle-green) !important;
}

.btn-submit:hover,
.btn-success:hover {
    background-color: var(--light-gray) !important;
    color: var(--dark-green) !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

/** Section Oradores */
.card-img-top {
    height: 22rem;
    object-fit: cover;
}

/** Section Lugar y Fecha */
.img-fluid {
    width: 100%;
    height: auto;
}

/** Section Form */
span.text-dotted {
    border-bottom: 2px dotted var(--dark-blue) !important;
}

/**Section Footer*/
footer {
    background: linear-gradient(
        90deg,
        rgb(6, 35, 65) 0%,
        rgb(44, 80, 119) 100%
    );
}

/** Message */
.message-send {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eeb50cf6;
    padding: 8px;
    border-radius: 5px;
    color: #0d0e11;
    font-weight: 600;
}

.up a {
    background: var(--dark-gray);
    color: var(--white);
    text-align: right;
    transition: var(--transition);
    font-size: 1rem;
    padding: 1rem;
}

.up a:hover {
    transition: all 0.5s ease-in;
    color: var(--middle-green);
}

/** Section Tickets */
#category, #venta-ticket {
    padding-top: 1rem;
}

.ticket-card{
    border-radius: 0px;
}


#pago, #pago-span {
    background-color: #bee3f8;
    color: var(--blue) !important;
    padding: 0.8rem 0.7rem;
}



@media screen and (min-width: 768px) {
    main {
        margin-top: 0;
    }

    #navbar {
        padding: 0.5rem 1.5rem;
    }

    .hero-content {
        justify-content: center !important;
        align-items: end !important;
        height: 100vh;
    }

    .text-content {
        text-align: end;
        width: 55%;
        padding-right: 6rem !important;
    }

    .btn-custom {
        justify-content: flex-end !important;
        gap: 1rem;
    }

    #lugar,
    #hero,
    #formulario {
        margin-bottom: 1rem !important;
        padding-top: 4rem;
    }

    #lugar,
    .img-fluid {
        height: 70vh;
    }

    .contact {
        padding: 0 8rem;
    }

    #category{
        padding-top: 6rem;
        margin: 0 6rem;
    }
}

@media screen and (min-width: 1024px){
    #category{
        margin: 1rem 20%;
    }

    #venta-ticket {
        margin: 0 11%;
    }
}
